ul{
	padding-left: 20px;
	list-style: none;
	li{
		margin-bottom: 15px;
	}
}

*{
	box-sizing: border-box;

}

img{
	width: 95%;
	display: block;
}
body{
	font-family: 'Quicksand', sans-serif;
}
input{
	display: block;
	width: 100%;
	padding: 8px 10px;
	border: 1px solid #dddddd;
}

label{
	margin-bottom: 5px;
	display: block;
	font-size: 13px;
}
%button{
	display: block;
	height: 35px;
	padding: 5px;
	border-radius: 3px;
	border: none;
	letter-spacing: 0.05em;
	cursor: pointer;
}
.app{
	&__container{
		padding-top: 40px;
	}
	&__auth-container,
	&__container{
		display: flex;
		flex-direction: column;
		max-width: 960px;
		width: 100%;
		margin: 0 auto;
	}
	&__auth{
		&-container{
			justify-content: center;
			align-items: center;
			position: relative;
			width: 100%;
			form{
				max-width: 300px;
				margin-bottom: 15px;
				width: 100%;
				padding: 50px 0;
			}
			button{
				margin: 15px 0;
				@extend %button;
			}
		}
		&-logout{
			position: absolute;
			right: 0;
			top: 0;
			width: 100px;
		}
	}
	&__form{
		&-container{
			max-width: 350px;
		}
		&-wrapper{
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			> ul{
				width: 100%;
				margin-bottom: 0;
			}
		}
		&-error{
			font-size: 11px;
			display: block;
			color: red;
			margin: 5px 0;
		}
		&-add{
			@extend %button;
			margin: 15px 0;
			margin-bottom: 25px;
			width: 50%;
			color: #fff;
			background-color: #53ca53;
		}
		&-type{
			margin-bottom: 20px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			> div:first-child{
				width: 75px;
			}
			> div:last-of-type{
				width: calc(100% - 90px);
			}
			button{
				width: 50%;
				margin: 15px 0;
				margin-bottom: 0;
				@extend %button;
				background-color: #ff0000d6;
				color: #fff;
				align-self: flex-end;
			}
		}
		&-remove{
			display: flex;
			width: 100%;
			justify-content: flex-end;
		}
		&-actions{
			margin: 10px 0;
			display: flex;
			justify-content: space-between;
			width: 100%;
			button{
				@extend %button;
				margin: 15px 0;
				width: calc(50% - 10px);

			}
		}
	}
	&__modal{
		&-container{
			display: flex;
			justify-content: flex-end;
			> button{
				width: 150px;
				@extend %button;
			}
		}
	}
}
.main{
	&__container{
		display: flex;
		flex-wrap: wrap;
	}
	&__orders{
		width: 50%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding-right: 20px;
		&:not(:empty){
			border-right: 1px solid #000;
		}
		h4{
			width: 100%;
		}
	}
	&__logo{
		display: block;
		max-width: 100px;
		width: 100%;
		margin-bottom: 20px;
	}
	&__order{
		width: calc(50% - 20px);
		margin-bottom: 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background: #cfffcf;
		padding: 15px;
		&-actions{
			display: flex;
			width: 100%;
			justify-content: space-between;
		}
		p,
		ul{
			width: 100%;
		}
		button{
			width: calc(50% - 5px);
			@extend %button;
			color: #fff;
			&.edit{
				background-color: #52ca53;
			}
			&.remove{
				background-color: #ff0000d6;
			}
		}
	}
	&__total{
		width: 50%;
		padding: 0 20px;
		ul{
			padding: 0;
		}
	}
}
